// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tab-bar {
	.tab.new-tab {
		flex-grow: 0;
		min-width: 40px;
		z-index: 999;

		&.active {
			flex-grow: 0;
			cursor: pointer;
		}

		&.new-tab-sticky {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 998;
		}

		.title{
			-webkit-mask: initial;
		}

		.icon::before{
			margin-right: 0;
		}
	}

	&.new-tab-none {
		.tab.new-tab.new-tab-sticky,
		.tab.new-tab.new-tab-inline {
			display: none;
		}
	}

	&.new-tab-left {
		padding-left: 40px;
		.tab.new-tab.new-tab-sticky {
			left: 0;
			right: auto;
		}
		.tab.new-tab.new-tab-inline {
			display: none;
		}
	}

	&.new-tab-center {
		.tab.new-tab.new-tab-sticky {
			display: none;
		}
	}

	&.new-tab-center-right {
	}

	&.new-tab-right {
		padding-right: 40px;
		.tab.new-tab.new-tab-inline {
			display: none;
		}
	}
}
